BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 2
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortNamespacesOnASingleLine: true
AllowShortLoopsOnASingleLine: true
IndentCaseLabels: true
IncludeBlocks: Regroup
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: true 
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCaseColons: true
AlignConsecutiveTableGenDefinitionColons: true
AlignTrailingComments: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true